<%= content_for :body do %>
  <h1>Create New User</h1>
  <%= form_for @user, html: { :style => "max-width: 30rem;"} do |f|%>
    <div class="form-group">
      <%= f.label :username%>
      <%= f.text_field :username, class: "form-control", placeholder: "Username"%>
    </div>
    <div class="form-group">
      <%= f.label :password%>
      <%= f.password_field :password, class: "form-control", placeholder: "Password"%>
    </div>
    <div class="form-group">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name"%>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name"%>
    </div>
    <div class="form-group">
      <%= f.label :dob, "Date of Birth" %>
      <%= f.text_field :dob, placeholder: "Month/Date/Year", class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit%>
    </div>
  <%end%>
<% end %>
