<%= content_for :body do %>
  <div class="card border-primary">
    <div class="card-header bg-primary text-white">
      Job Description
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= @job.job %></h5>
      <p class="card-text lead"><%= @job.job_description %></p>
      <p class="card-text text-muted">Job posted at <%= @job.created_at.to_date %></p>
      <% if applied_job? %>
        <a href="#" class="btn btn-warning disabled">Applied</a>
      <% else %>
        <%= link_to 'Appy Job', apply_path, method: :post, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
